.travis__build-history__item--created:before {
  themify: background-color unknown-color
}
.travis__build-history__item--passed:before {
  themify: background-color success-color
}
.travis__build-history__item--errored:before,
.travis__build-history__item--failed:before {
  themify: background-color failure-color
}
